---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  
  <footer style="text-align:center; margin-top: 40px;">
    <div style="display:inline-block;">
    <a href="https://mapmyvisitors.com/web/1c1ek"  title="Visit tracker"><img src="https://mapmyvisitors.com/map.png?d=yj7G4uPjZTwu7X50zzhTW14ybx6QOClZ1fWK16GJDpU&cl=ffffff" /></a>    </div>
  </footer>

  </body>
</html>
